* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body {
    background-color: #d9dcd6;
}

/*changed selector name which is related to change one of the parent div elements to header element for semantic*/
header {
    padding: 20px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    background-color: #2a607c;
    color: #ffffff;
}

/*changed selector name which is related to change one of the parent div elements to header element for semantic*/
header h1 {
    display: inline-block;
    font-size: 48px;
}

/*changed selector name which is related to give unique id name to span element because it is unique*/
/*I gaved id because it is only one in html*/
#seo {
    color: #d9dcd6;
}

/*changed selector name which is related to change one of the parent div elements to header element for semantic*/
/*changed selector name which is related to change the child div in header to nav*/
header nav {
    padding-top: 15px;
    margin-right: 20px;
    float: right;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 20px;
}

/*merged two selectors which don't affect application's function to make code shorter*/
header nav ul li {
    list-style-type: none;
    display: inline-block;
    margin-left: 25px;
}

a {
    color: #ffffff;
    text-decoration: none;
}

p {
    font-size: 16px;
}

.hero {
    height: 800px;
    width: 100%;
    margin-bottom: 25px;
    background-image: url("../images/digital-marketing-meeting.jpg");
    background-size: cover;
    background-position: center;
}

.float-left {
    float: left;
    margin-right: 25px;
}


.float-right {
    float: right;
    margin-left: 25px;
}

/*changed selector name which is related to change one of the parent div elements to section element for semantic */
section {
    width: 75%;
    display: inline-block;
    margin-left: 20px;
}


/*changed selector name which is related to change one of the parent div elements to aside element for semantic */
aside {
    margin-right: 20px;
    padding: 20px;
    clear: both;
    float: right;
    width: 20%;
    height: 100%;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-color: #2589bd;
}

/*merged three selectors to make code shorter and avoid repetition*/
aside div {
    margin-bottom: 32px;
    color: #ffffff;
}

/*merged three selectors to make code shorter and avoid repetition*/
/*And changed selector name which is related to change the parent div element to aside element*/
aside div h3 {
    margin-bottom: 10px;
    text-align: center;
    
}

/*gave unipue id(benefit-img) to html and merged three selectors to make code shorter and avoid repetition*/
aside div img {
    display: block;
    margin: 10px auto;
    max-width: 150px;
}

/*changed html div element to section for semantic and merged three selectors to make code shorter and avoid repetition*/
section div {
    margin-bottom: 20px;
    padding: 50px;
    height: 300px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-color: #0072bb;
    color: #ffffff;
}

/*changed html div element to section for semantic and merged three selectors to make code shorter and avoid repetition*/
section img {
    max-height: 200px;
}

/*changed html div element to section for semantic and changed to right selector name for that*/
section h2 {
    margin-bottom: 20px;
    font-size: 36px;
}

footer {
    padding: 30px;
    clear: both;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    text-align: center;
}

footer h2 {
    font-size: 20px;
}
