@charset "utf-8";

/*Entry meta*/
.wr-news-big .entry-meta{line-height:1;}
.wr-news-big .entry-meta.meta-2 .author-img img{width:40px;height:40px;border-radius:50%;}
.wr-news-big .entry-meta.meta-2 .author-name{text-transform:uppercase;font-weight:600;font-size:14px;display:inline-block;margin-top:5px;}
.wr-news-big .entry-meta .author-add{font-size:12px;}
.wr-news-big .entry-meta.meta-1 span{margin-right:10px;}
.wr-news-big .entry-meta.meta-1 span i{margin-right:3px;}
.wr-news-big .entry-meta.meta-0 span{padding:4px 10px 4px 19px;letter-spacing:0.8px;text-transform:uppercase;border-radius:30px;position:relative;}
.wr-news-big .entry-meta.meta-0 span::before{content:"";width:6px;height:6px;background:none;margin-right:3px;border-radius:5px;display:inline-block;position:absolute;top:50%;left:8px;margin-top:-3px;border:1px solid #fff;}
.wr-news-big span.has-dot{position:relative;padding-left:10px;}
.wr-news-big span.has-dot::before{content:"";width:2px;height:2px;background:#999;border-radius:50%;position:absolute;top:50%;margin-top:-1px;display:block;left:-3px;}

/*SLICK SLIDER*/
.wr-news-big .slick-slide img{max-width:100%;height:auto;}
.wr-news-big .featured-slider{background:#fff;box-shadow:0px 0px 40px 0px rgba(0,0,0,0.05);overflow:hidden;}
.wr-news-big .slider-caption{padding:30px;}
.wr-news-big .post-title{overflow:hidden;margin-left:0px; margin-right:5px; letter-spacing:-1px;}
.wr-news-big .post-title{display: inline-block; word-break: break-all; font-size:24px !important; line-height:30px !important;}
.wr-news-big .post-content{font-size:16px;color:#889097;}
.wr-news-big .arrow-cover{position:absolute;margin-top:-50px;right:30px;font-size:20px !important;}
.wr-news-big button.slick-arrow{background:none;border:0;position:relative;padding:0;margin:0 5px;}
.wr-news-big button.slick-arrow [class^="flaticon-"]::before{font-size:15px;}

.wr-news-big .slick-dots button{cursor:pointer;}
.wr-news-big .slick-dots li.slick-active button{background:#ef3f48;}
.wr-news-big .slick-dots li.slick-active button{border-color:#ef3f48;}
/*
.wr-news-big .slick-dots{display:-webkit-box;display:flex;-webkit-box-pack:center;justify-content:center;width:100%;margin:0;padding:0;list-style-type:none;padding-top:30px;text-align:center;}
*/
.wr-news-big .slick-dots{display:-webkit-box;display:flex;-webkit-box-pack:center;justify-content:center;margin:0;padding:0;list-style-type:none;position:absolute;bottom:15px;right:15px;}
.wr-news-big .slick-dots li{margin:0 2px;}
.wr-news-big .slick-dots button{display:block;height:8px;width:8px;border:2px solid #B2B2B2;background:transparent;text-indent:-9999px;padding:0;border-radius:6px;}
.wr-news-big .slick-dots li.slick-active button{width:20px;}

.wr-news-big .img-hover-scale{overflow:hidden;position:relative;}
.wr-news-big .img-hover-scale img{-webkit-transition:-webkit-transform .5s;transition:-webkit-transform .5s;-o-transition:transform .5s;transition:transform .5s;transition:transform .5s,-webkit-transform .5s;}
.wr-news-big .img-hover-scale:hover img{-webkit-transform:scale(1.1);-ms-transform:scale(1.1);transform:scale(1.1);-webkit-transition:-webkit-transform .5s;transition:-webkit-transform .5s;-o-transition:transform .5s;transition:transform .5s;transition:transform .5s,-webkit-transform .5s;}

.wr-news-big .top-right-icon{position:absolute;top:15px;right:15px;border-radius:50px;width:30px;height:30px;padding-top:2px;text-align:center;line-height:30px;z-index:3;color:#fff;background:#ef3f48;-o-transition:all 0.4s ease;transition:all 0.4s ease;-webkit-transition:all 0.4s ease;-moz-transition:all 0.4s ease;transition-duration:0.4s;-ms-transition:all 0.4s ease;}
.wr-news-big .top-right-icon i{top:2px;}
.wr-news-big .img-hover-scale:hover .top-right-icon,
.wr-news-big .img-hover-slide:hover .top-right-icon{margin-top:-3px;-webkit-box-shadow:0 5px 11px 0 rgba(0,0,0,0.18),0 4px 15px 0 rgba(0,0,0,0.15);-moz-box-shadow:0 5px 11px 0 rgba(0,0,0,0.18),0 4px 15px 0 rgba(0,0,0,0.15);box-shadow:0px 5px 11px 0px rgba(0,0,0,0.18),0px 4px 15px 0px rgba(0,0,0,0.15);-o-transition:all 0.4s ease;transition:all 0.4s ease;-webkit-transition:all 0.4s ease;-moz-transition:all 0.4s ease;transition-duration:0.4s;-ms-transition:all 0.4s ease;}

.wr-news-big .txt-white{color:#ffffff !important;}
.wr-news-big .txt-grey{color:#889097 !important;}
