@charset "utf-8";

.mix_gallery .lt-item-bg {
  width: 100%;
}

.mix_gallery .lt-item-bg .big-img {
  margin-bottom: 20px;
}

.mix_gallery .lt-item-bg h6 {
  margin-bottom: 10px;
}

.mix_gallery .lt-item-bg h6 a {
  font-size: 16px;
  color: #444444;
  font-weight: 700;
}

.mix_gallery .lt-item-bg h6 a:hover {
  color: #d32f2f;
}

.mix_gallery .lt-item-bg ul {
  margin-bottom: 10px;
}

.mix_gallery .lt-item-bg ul li:first-child {
  font-size: 12px;
  color: #fff;
  background: #d32f2f;
  padding: 4px 12px 3px;
  font-weight: 400;
  text-transform: uppercase;
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  -ms-border-radius: 2px;
  border-radius: 2px;
  margin-right: 20px;
}

.mix_gallery .lt-item-bg ul li:last-child {
  font-size: 13px;
  color: #969696;
}

.mix_gallery .lt-item-bg p {
  font-size: 14px;
  color: #666666;
  line-height: 23px;
  overflow:hidden;
  letter-spacing:-1px; 
  padding-right:1px;
}

.mix_gallery .lt-item-sm {
  border-bottom: 1px solid #eeeeee;
  padding-bottom: 15px;
  margin-bottom: 15px;
}

.mix_gallery .lt-item-sm .lt-img a img {
  margin-right: 0px;
}

.mix_gallery .lt-item-sm .img-content {
  display:block; text-overflow:ellipsis; white-space:nowrap; word-wrap:normal; overflow:hidden;
  margin-left: 10px;
  margin-right: 10px;
}

.mix_gallery .lt-item-sm .img-content p {
  margin-bottom: 0px;
}

.mix_gallery .lt-item-sm .img-content p a {
  color: #444444;
  font-weight: 700;
  display:block; text-overflow:ellipsis; white-space:nowrap; word-wrap:normal; overflow:hidden;
}

.mix_gallery .lt-item-sm .img-content p a:hover {
  color: #d32f2f;
}

.mix_gallery .lt-item-sm .img-content span {
  font-size: 13px;
  color: #969696;
}

.mix_gallery .lt-item-sm:last-child {
  border-bottom: none;
  padding-bottom: 0;
  margin-bottom: 0;
}


.mix_gallery .sv_member {color:#fff;}

/*
.mix_gallery .img-caption { 
    position: absolute;width:100%;left:0px;bottom: 0px;padding: 15px;margin: 0;line-height:20px;background-color: rgba(0, 0, 0, 0.75) !important; color: #fff !important;
}
*/

.mix_gallery .img-caption {
	position: absolute;
	width: 100%;
	bottom: 0;
	padding: 15px;
	color: #fff !important;
	background: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0.02)), color-stop(25%, rgba(0, 0, 0, 0.4)));
	background: -webkit-linear-gradient(top, rgba(0, 0, 0, 0.02), rgba(0, 0, 0, 0.4) 25%);
	background: -o-linear-gradient(top, rgba(0, 0, 0, 0.02), rgba(0, 0, 0, 0.4) 25%);
	background: linear-gradient(to bottom, rgba(0, 0, 0, 0.02), rgba(0, 0, 0, 0.4) 25%);
}
.mix_gallery .img-caption { 
	transition:transform 0.4s, opacity 0.1s 0.3s; opacity: 0; transform: translateY(100%); -o-transition: -o-transform .4s, opacity .1s .3s; -moz-transition: -moz-transform .4s, opacity .1s .3s; -webkit-transition: -webkit-transform .4s, opacity .1s .3s; -webkit-transform: translateY(100%); -moz-transform: translateY(100%); -o-transform: translateY(100%); 
}
.mix_gallery .img-wrap:hover .img-caption { 
	transition:transform 0.4s, opacity 0.1s; opacity: 1; transform: translateY(0px); -o-transition: -o-transform .4s, opacity .1s; -moz-transition: -moz-transform .4s, opacity .1s; -webkit-transition: -webkit-transform .4s, opacity .1s; -webkit-transform: translateY(0); -moz-transform: translateY(0); -o-transform: translateY(0); 
}


