@charset "utf-8";

.miso-post-news-ticker{height:19px; margin:0; padding:0; overflow:hidden; list-style:none;}
.miso-post-news-ticker li{height:14px; margin:0; padding:0}
.miso-post-news-ticker a{line-height:1.2; font-size:13px; color:#333; text-decoration:none}
.miso-post-news-ticker a:hover{color:#d42d17}
.miso-post-news-ticker .category{color:#888}
.miso-post-news-ticker .author{font-weight:bold}
.miso-post-news-ticker .date{font-family:Verdana; color:#ea5859}
.miso-post-news-ticker .news_arrow{display:inline-block; border-left:9px solid #ea5859; border-top:5px solid transparent; border-bottom:5px solid transparent; height:0; width:0}
.miso-post-news-ticker .date{color:#3576a1}
.miso-post-news-ticker .news_arrow{border-left-color:#3576a1}
.miso-post-news-ticker .wr-text { font-family:dotum; font-size:11px; letter-spacing:-1px; line-height:11px; font-weight:normal; }
.miso-post-news-ticker .wr-icon { display:inline-block; padding:0px; margin:0px; line-height:12px; vertical-align:middle; background-repeat: no-repeat; background-position: 0px 0px; }
.miso-post-news-ticker .wr-new { width:12px; height:12px; background-image: url('./img/icon_new.gif'); }
.miso-post-news-ticker .wr-secret { width:12px; height:12px; background-image: url('./img/icon_secret.gif'); }
.miso-post-news-ticker .wr-video { width:12px; height:12px; background-image: url('./img/icon_video.gif'); }
.miso-post-news-ticker .wr-image { width:12px; height:12px; background-image: url('./img/icon_image.gif'); }
.miso-post-news-ticker .wr-file { width:12px; height:12px; background-image: url('./img/icon_file.gif'); }